<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script scr="createUser.js"></script>
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed top"><h5 style="color: whitesmoke" id="infoAccName"></h5>  <h5 style="color: darksalmon">&nbsp with roles:</h5>
    <h5 style="color: whitesmoke" id="infoAccRoles"></h5>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#myAcc" class="nav-link"  onclick="loadOneUser()">My account</a>
            </li>
            <li class="nav-item active">
                <a href="#modalCreate" id="hrefToCreateUser" class="nav-link" data-toggle="modal" style="display: none" data-target="#exampleModal">Create user</a>
            </li>
            <li class="nav-item active">
                <a href="#usersTable2" id="hrefToUsersTable" class="nav-link" onclick="loadUsers()" style="display: none">Users table</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-warning my-2 my-sm-0" role="button" href="/logout" >Logout</a>
        </form>
    </div>
</nav>
<div class="container">
    <div id="mainDiv">
    <h1>Home page</h1>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body" id="bodyCreateModal">
                <div class="container-fluid">
                    <form id="addUser">
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" required class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="vkOwnerId">VK Owner Id</label>
                            <input type="number" required class="form-control" id="vkOwnerId">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" required class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" required class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" required class="form-control" id="age">
                        </div>
                        <div class="form-group">
                            <label>Roles</label>
                            <br/>
                            <select id="roles" required class="form-select" multiple aria-label="multiple select example">
                                <option value="ROLE_USER">User</option>
                                <option value="ROLE_ADMIN">Admin</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="addUserButton" class="btn btn-primary" type="submit">Add new user</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="place" id="placeModalDelete"></div>
<div class="place" id="placeModalEdit"></div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="../static/loadUsersTable.js"></script>
<script src="../static/loadOneUser.js"></script>
<script src="../static/createUser.js"></script>
<script src="../static/deleteUser.js"></script>
<script src="../static/editUser.js"></script>
<script src="../static/infoAboutAuthUser.js"></script>
</body>
</html>